@import "core";

.hero{
	position: relative;
  	background: url("../img/backgrounds/main-bg.jpg") no-repeat center center fixed;
  	background-color: $third;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: table;
    	

    header{
			padding-top: 4rem;

	    @media (max-width: $screen-md){
	     	padding-top: 2rem;
	    	}
	}
	
	

	.logo-name {
    a{
      font-family: $fontBase;
      font-size: 3.4rem;
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
		
		
		@media (max-width: $screen-md){
      	font-size: 3.8rem;
    		}
 	}
 	
 	 .hamburger {
 	 	 margin-top: 0.7rem;
   		 color: #fff;
   		 font-size: 3.5rem;
   		 display: none;
   		 cursor: pointer;

		    &:hover {
		      color: $prime;
		    }

			    @media (max-width: $screen-sm){
			      display: block;
			    }
	}
 	
  .hero-nav {
    display: block;
    	li{
    		line-height: 5.2rem;
    	}
    	li:hover{

    	}
    @media (max-width: $screen-sm){
    	display: block;
    	ul{
    		font-size: 1.5rem;
    	}
    }
  }

  .hero-nav-item {
	margin-left: 3.4rem;
    position: relative;
	display: inline-block;
		&::after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: 0px;
			border-bottom: solid 0.2rem $prime;
			transform: scaleX(0);
			transition: transform .2s cubic-bezier(0.7, 0, 0.4, 1);
		}
		&:hover {
			&::after {
				transform: scaleX(1);
			}
		}
		a{ 
			color: $second;
			text-decoration: none;
			&:hover{
				color: $fontColor_prime;
			}
		}

      @media (max-width: $screen-sm){
        display: block !important;
  	  }
    }
  
}

.main-text{ 
	
.hero-subtitle {
	
	margin-top: 15%;
	font-size: 4rem;
    color: $second;
    margin-bottom: 2rem;
	line-height: 1.4;
	font-family: $fontSecond;

    @media (max-width: $screen-md){
       font-size: 3rem;
      margin-bottom: 5rem;
    }

    @media (max-width: $screen-sm){
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

.hero-title {
    font-size: 4.8rem;
    color: $second;
    margin-bottom: 8rem;
    line-height: 1.4;
    font-family: $fontSecond;

    @media (max-width: $screen-md){
      font-size: 3.4rem;
      margin-bottom: 5rem;
    }

    @media (max-width: $screen-sm){
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }
  
	}		
}
.section-about-me{
  padding-top: 5rem;
    .text-about{
    	padding-top: 4rem;
     

      about-me-text{
        font-size: 1.5rem;
        p{
          margin-top: 4rem;
          line-height: 1rem;
        }
      }
    }
    .btn-download{
      margin-top: 2rem;
      font-size: 1.8rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
  .skill-bar{
    padding-top: 1.5rem;
    p{
      text-align: left;
      font-size: 1.2rem;      
    }
    .skill-container{
      
      width: 90%;
      background: #ddd;
      .skills{
        text-align: right;
        padding-right: 2rem;
        line-height: 2rem;
        color: white;
        margin-bottom: 2.5rem;
      }
      .html{
        width: 90%; 
        background-color: $prime;
      }
      .css{
        width: 80%;
        background-color: $prime;
      }
      .javascript{
        width: 50%;
        background-color: $prime;
      }
    }
  }

}
   

//SECTION ICON-INFO
.section-iconinfo{
  height: 50%;
  background-color: black;
  opacity: 0.86;   
  
  .icon-info{
    p{
      font-family: $fontBase;
      margin-top: 2rem;
      font-size: 2.4rem;
      color: $second;
      .child-text{
        font-size: 1.4rem;
      }
    }
    .fa{
      font-size: 5rem;
    }
    .fa-hand-peace-o{
      color: $second;
    }
    .fa-desktop{
      color: $second;
    }
    .fa-paper-plane-o{
      color: $second;
    }
    .fa-rocket{
      color: $second;
    }
    .fa-github-alt{
      color: $second;
    }
    .fa-edit{
      color: $second;
    }
    .fa-check-square-o{
      color: $second;
    }
  @media (max-width: $screen-md){
       font-size: 3rem;
      //margin-bottom: 2rem;
    }

    @media (max-width: $screen-sm){
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }
}
.section-my-services{
   padding-top: 5rem;
   .box{
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
    
    p{
      margin-top: 2rem;
      font-size: 1.2rem;
    }
    .entry-icon{
      margin-bottom: 3rem;
      .fa{
        padding: 2rem;
        text-align: center;
        text-decoration: none;
        margin: 0.5rem 2rem;
        border-radius: 50%;
        box-shadow: 0 0 0 3px #222222; 
        font-size: 5rem;
          .fa-fa-laptop{
            color: $second;
          }
          .fa-television{
            color: $second;
          }
          .fa-sitemap{
            color: $second;
          }
          .fa-paste{
            color: $second;
          }
      }
    }
   }
}

.section-my-portfolio{
  .box-filter{
    background-color: $prime;
    height: 25rem;
    margin-bottom: 1.5rem;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    img{
      height: 100%;
      width: 100%;
      transition: 1s;
    }

    @media (max-width: $screen-sm){
       img{
            height: 100%;
            width: 100%;
            transition: 1s;
          }
    }

    .text-box{
      position: absolute;
      top: -100%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: #734e00;
      transition: 1s;
      opacity: 0.9;
      .btn-small{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: white;
      }
    }
     &:hover .text-box{
        top: 0;
      }
      &:hover img{
        transform: scale(1.2);
      }
  }
}

//SECTION FUN
.section-fun{
  height: 50%;
  background-color: $prime;
  position: relative;
  overflow: hidden;
  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.83;
    background-color: #46381b;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  
  p{
      font-family: $fontBase;
      margin-top: 2rem;
      font-size: 2.4rem;
      color: $second;
    }
    .fa{
      font-size: 5rem;
    }
    .fa-check-square-o{
      color: $second;
    }
    .fa-users{
      color: $second;
    }
    .fa-edit{
      color: $second;
    }
    .fa-coffee{
      color: $second;
    }
    .fa-clock-o{
      color: $second;
    }
  @media (max-width: $screen-md){
       font-size: 3rem;
      //margin-bottom: 2rem;
    }

    @media (max-width: $screen-sm){
      font-size: 2rem;
      margin-bottom: 3rem;
    }
}

.section-client{
  .feedback{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
    background-color: #fafafa;
    border: 2px solid #eeeeee;
    width: 50rem;
    height: 26rem;
    margin-bottom: 1.5rem;
     background-size: cover;
    overflow: hidden;
    text-align: center;
    .photo{
      display: inline-block;
      margin-top: 3.5rem;
      margin-left: 2rem;
      height: 14rem;
      width: 14rem;

        @media (max-width: $screen-sm){
         height: 10rem;
         width: 10rem;
        margin-left: 1rem;
        }
      img{
       height: 100%;
       width: 100%;
       border-radius: 50%;
       border: 0.3rem solid $prime;
      }
    }
    .description{
          
      margin-left: 2rem;
      margin-top: 4rem;
      height: 12rem;
      width: 30rem;
      text-align: justify;
        @media (max-width: $screen-sm){
         font-size: 1.1rem;
         width: 15rem;
        }
    }
  
  }
  .slider-nav{
    margin-top: 3rem;
    display: inline-block;
      @media (max-width: $screen-sm){
      margin-top: 0.1rem;
      }
    .prev{
      .fa{
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        margin: 0.5rem 2rem;
        border-radius: 50%;
        border: 1px solid $prime;
        box-shadow: 0 0 0 2px $prime;
        padding: 0 auto;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
          background-color: $prime;
        }
        
      }
      .fa-arrow-left{
           color: $prime;
           &:hover{
             color: white;
             
           }
        }
    }
     .next{
      .fa{
         padding: 1rem;
        text-align: center;
        text-decoration: none;
        margin: 0.5rem 2rem;
        border-radius: 50%;
        border: 1px solid $prime;
        box-shadow: 0 0 0 2px $prime;
        padding: 0 auto;
        transition: 0.3s;
        cursor: pointer;
         &:hover{
          background-color: $prime;
        }
        
      }
      .fa-arrow-right{
           color: $prime;
           &:hover{
             color: white;
           }
        }
      
    }
  }
}
//CONTACTS
.contact-form{
  background-color: $prime;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.95;
    background-color: #4d4229;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
  form{
    margin-top: 4rem;
    @media (max-width: $screen-sm){
            margin-top: 2rem;
          }
    .from-cont{
      width: 90%;
      height: 4rem;
      margin-bottom: 1rem;
      border: 0.2rem solid $second;
       @media (max-width: $screen-sm){
            //margin-top: 2rem;
            width: 85%;
          }
    }
    .form-text{
      width: 90%;
      margin-bottom: 0.5rem;
      height: 9rem;
      border: 0.2rem solid $second;
      @media (max-width: $screen-sm){
            width: 100%;
          }
    }


  }
  label{
      width: 4rem;
      height: 4rem;
      background-color: $prime;
       
      .fa{
        font-size: 2rem;
        padding-top: 25%;
        color: $second;
      }
    }
}

//FOOTER
.footer-section{
  height: 15rem;
  background-color: #141313;
  .socials{
    padding-top: 4rem;
    @media (max-width: $screen-sm){
           padding-top: 2rem;
          }  
    .social-icons{
      .fa{
        padding: 1.8rem;
        font-size: 1.8rem;
        text-align: center;
        text-decoration: none;
        margin: 0 2rem;
        border-radius: 50%;
        border: 0.1rem solid #333333;
        color: #333333;
        &:hover{
          opacity: 0.7;
              }
          @media (max-width: $screen-sm){
           padding: 1rem;
           margin: 0 1rem;
          }     
        }
    .fa-facebook {
      &:hover{
         background: #3B5998;
        color: white;
      }
    }
    .fa-linkedin {
      &:hover{
         background: #007bb5;
        color: white;
      }
    }
    .fa-instagram {
      &:hover{
        background: #125688;
        color: white;
      }
    }

    .fa-github{
      &:hover{
        background: #000;
        color: white;
      }
    }

  }
}
}